.sales {
  background-color: #FDF9EE;
}

.sales__header {
  display: flex;
  gap: 24px;
  align-items: end;
  margin-bottom: 40px;
}

.sales__title {
  font-weight: 500;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: -1.6px;
  z-index: 0;
  width: 49%;
  flex-shrink: 0;
  position: relative;
}

.sales__title::before,
.sales__title::after {
  content: "";
  position: absolute;
  background-color: var(--color-primary);
  top: 0;
  left: 0;
  width: 100%;
  height: 63px;
  display: block;
  z-index: -1;
}

.sales__title::after {
  top: 68px;
  width: 26.02%;
}

.sales__highlight {
  color: #fff;
  margin-right: 12px;
}

.sales__info {
  width: 49%;
  text-align: right;
}

.sales__btn {
  max-width: 156px;
  margin-left: auto;
}

.sales__box {
  background-color: #fff;
  border: 1px solid #E6E6E7;
  border-radius: 4px;
  padding: 24px;
}

.sales__others {
  margin-top: 16px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
}

.sales__icon {
  padding: 4px;
  height: 48px;
  width: 48px;
}

.sales__boxTitle {
  font-family: var(--font-heading);
  font-weight: 500;
  font-style: Medium;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: -0.2px;
}

.sales__br {
  display: none;
}

@media screen and (max-width: 1430px) {
  .sales__title::before,
  .sales__title::after {
    display: none;
  }
  
  .sales__br {
    display: block;
  }

  .sales__highlight {
    background-color: var(--color-primary);
    line-height: 75px;
  }
}
/* TABLET */
@media screen and (max-width: 1024px) {
  .sales__header {
    flex-direction: column;
    align-items: start;
    gap: 0;
  }

  .sales__title {
    width: 100%;
    font-size: 50px;
  }

  .sales__info {
    width: 100%;
    text-align: left;
  }

  .sales__btn {
    margin-inline: auto;
  }
}

/* MOBILE */

@media screen and (max-width: 768px) {
  .sales__title {
    font-size: 33px;
    line-height: 48px;
  }

  .sales__br {
    display: none;
  }

  .sales__highlight {
    line-height: 45px;
    padding-inline: 8px;
  }

  .sales__others {
    grid-template-columns: repeat(2, 1fr);
    gap: 8px;
    margin-top: 8px;
  }

  .sales__box {
    padding: 16px;
  }

  .sales__img {
    height: 150px;
  }
}