.service {
  background-color: #000;
}

.service__header {
  text-align: center;
  margin-bottom: 64px;
  color: #fff;
}
@media screen and (max-width: 767px) {
  .service__header {
    margin-bottom: 40px;
  }
}

.service__title {
  font-weight: 500;
  font-size: 48px;
  line-height: 100%;
  letter-spacing: -2px;
  margin-bottom: 6px;
}
@media screen and (max-width: 767px) {
  .service__title {
    font-size: 32px;
    margin-bottom: 4px;
  }
}

.service__content {
  position: relative;
}

.service__content::after {
  content: '';
  height: 100%;
  width: 6px;
  background-color: #fff;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
@media screen and (max-width: 767px) {
  .service__content::after {
    left: 0;
    transform: none;
    width: 3px;
  }
}

.service__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
@media screen and (max-width: 767px) {
  .service__item {
    flex-direction: column;
    padding-left: 25px;
  }
}

.service__item::before {
  content: '';
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: background-color 0.4s ease;
  z-index: 1;
}
@media screen and (max-width: 767px) {
  .service__item::before {
    height: 15px;
    width: 15px;
    left: 2px;
    top: 12px;
  }
}

.service__item.active::before {
  background-color: var(--color-primary);
}

.service__item:not(:last-child) {
  margin-bottom: 56px;
}
@media screen and (max-width: 767px) {
  .service__item:not(:last-child) {
    margin-bottom: 33px;
  }
}

.service__item:nth-child(even) {
  flex-direction: row-reverse;
}
@media screen and (max-width: 767px) {
  .service__item:nth-child(even) {
    flex-direction: column;
  }
}

.service__step {
  width: 45.92%;
}
@media screen and (max-width: 767px) {
  .service__step {
    width: 100%;
  }
}

.service__num {
  font-weight: 700;
  font-size: 16px;
  line-height: 25.6px;
  letter-spacing: 0%;
  color: #fff;
}
@media screen and (max-width: 767px) {
  .service__num {
    font-size: 14px;
    line-height: 18.75px;
  }
}

.service__subtitle {
  font-size: 32px;
  line-height: 100%;
  letter-spacing: 0%;
  color: var(--color-primary);
  margin-bottom: 8px;
}
@media screen and (max-width: 767px) {
  .service__subtitle {
    font-size: 24px;
    margin-bottom: 4px;
  }
}

.service__img {
  position: relative;
  width: 45.92%;
  height: 320px;
  overflow: hidden;
  box-shadow: 0 4px 24px 0 #00000014;
  border-radius: 16px;
}
@media screen and (max-width: 767px) {
  .service__img {
    width: 100%;
    height: 200px;
  }
}
